
$home-background: #0f051d;
$light-purple: #ff00ea;
$green: rgb(19, 193, 109);
$red: rgb(246, 56, 46);

@mixin button {
    &:hover {
        cursor: pointer;
        color: $light-purple;
        transition: all 0.2s ease-in-out;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-purple {
    color: $light-purple;
}

body {
    background-color: $home-background;
    overflow-y: scroll;
    color: white;
    font-family: Space Grotesk, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.container {
    margin: 0 auto;
    max-width: 70rem;
    @media (max-width: 600px) {
        max-width: 80vw;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ba04b7;
    border: 1px solid #fff;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: $home-background;
    // border: 1px solid #fff;
    border-radius: 20px;
}

.text-green {
    color: $green;
}

.text-red {
    color: $red;
}