#hero-section {
    background-image: linear-gradient(#130749 30%, #0f051d 70%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-background-img {
    opacity: 0.5;
    position: absolute;
    width: 60%;
    height: auto;
    right: 0;
    z-index: 0;
}
.hero-container {
    max-width: 60rem;
    text-align: center;

    h1 {
        position:relative;
        z-index: 2;
        font-size: 5rem;
    }

    @media (max-width: 600px) {
        max-width: 80vw;

        h1 {
            font-size: 3rem;
        }
    }

}